<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/LogicalProgramsBasedOnJava_08/src/com/main/logic/SeparateOddAndEvenNumbers.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.main.logic.SeparateOddAndEvenNumbers"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="LogicalProgramsBasedOnJava_08"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LogicalProgramsBasedOnJava_08"/>
</launchConfiguration>
